<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.qdbgame.newsplatform.dao.BrowsePermissionMapper">

    <resultMap id="BaseResultMap" type="com.qdbgame.newsplatform.entities.BrowsePermission">
        <result column="permission_id" property="permissionId"/>
        <result column="user_id" property="userId"/>
        <result column="news_id" property="newsId"/>
    </resultMap>

    <insert id="insert" parameterType="com.qdbgame.newsplatform.entities.BrowsePermission">
        INSERT INTO browse_permission (user_id,news_id)
        VALUES (#{userId},#{newsId})
    </insert>

    <select id="getBPByUidAndNid">
        SELECT permission_id
        FROM browse_permission
        WHERE user_id = #{userId} AND news_id = #{newsId}
    </select>


</mapper>