<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.qdbgame.newsplatform.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.qdbgame.newsplatform.entities.Order">
        <result column="order_id" property="orderId"/>
        <result column="goods_type" property="goodsType"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_own_id" property="goodsOwnId"/>
        <result column="goods_own_type" property="goodsOwnType"/>
        <result column="item_id" property="itemId"/>
        <result column="price" property="price"/>
        <result column="state" property="state"/>
        <result column="consumer_id" property="consumerId"/>
        <result column="creation_time" property="creationTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId" parameterType="com.qdbgame.newsplatform.entities.Order">
        INSERT INTO goods_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            goods_type,
            goods_id,
            goods_own_id,
            goods_own_type,
            <if test="itemId != null">
                item_id,
            </if>
            price,
            state,
            consumer_id,
            creation_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{goodsType},
            #{goodsId},
            #{goodsOwnId},
            #{goodsOwnType},
            <if test="itemId != null">
                #{itemId},
            </if>
            #{price},
            #{state},
            #{consumerId},
            #{creationTime},
        </trim>
    </insert>

    <update id="update" parameterType="com.qdbgame.newsplatform.entities.Order">
        UPDATE goods_order
        SET state = #{state}
        WHERE order_id = #{orderId}
    </update>

    <select id="getList" resultMap="BaseResultMap">
        SELECT *
        FROM goods_order
        WHERE consumer_id = #{userId} AND state = #{state}
        LIMIT #{pageNo},#{pageSize}
    </select>

    <select id="getById" resultMap="BaseResultMap">
        SELECT *
        FROM goods_order
        WHERE order_id = #{orderId}
    </select>


</mapper>